*{
  margin:0px;
  padding: 0px;
}

/*Styling
*/

body{
/*background: #2C3E50;*/
background: url('img/background.jpg');
}
.navigation-bar{
  background: #011b;
  position: fixed;
  height: 60px;
  top:0px;
  width: 100%;
  z-index: 200;
}
.main{
  background: rgba(0,0,0,.4);
}
.intro{
  margin:200px 35px 0px;
  background: #0008;
  padding: 15px;
}
.profile-pic{
  margin-top:-100px;
  height:200px;
  width:200px;
}
.img-rounded{
  border:4px solid #2B2E3C;
  box-shadow: 3px 3px 4px 4px #2B2E3C88;
}
.img-rounded:hover{
  box-shadow: 6px 6px 6px 6px #2B2E3C88;
}
.name{
  font-size: 3em;
  font-family: 'Creepster', cursive;
  margin: 8px;
  padding:8px;
  color:white;
}
.social{
  margin-top: 20px;
  font-family: 'Flavors', cursive;
  font-size: 2em;
  color: #fff;
}
.social ul li{
  list-style-type: none;
  display: inline-block;
}
.social li .fa{
  color:white;
  font-size:30px;
  margin: 15px;
  padding:15px;
  border:4px solid #fff;
  border-radius: 50px;
}
@-webkit-keyframes example {
  from{
    font-size:30px;
    margin: 15px;
    opacity: 1;
  }
  to{
    font-size:60px;
    margin: 0px;
    opacity: .25;
  }
}

@keyframes example {
  from{
    font-size:30px;
    margin: 15px;
    opacity: 1;
  }
  to{
    font-size:60px;
    margin: 0px;
    opacity:.25;
  }
}
.social li .fa:hover{
    animation-name: example;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    -webkit-animation-name:example;
    -webkit-animation-duration:.5s;
    -webkit-animation-duration:forwards;
    -moz-animation-name:example;
    -moz-animation-duration:example;
    -moz-animation-fill-mode:forwards;
    -o-animation-name:example;
    -o-animation-duration:.5s;
    -o-animation-fill-mode:forwards;
}
.intro-text li{
  list-style-type: none;
  font-size: 25px;
  color:white;
}
.intro-text li i{
  padding: 10px;
}
.profession{
  color:white;
  font-size: 25px;
  padding: 10px;
  margin: 10px;
  height: 280px;
  border: 1px white solid;
  display: inline-block;
  border-radius: 10px;
  background: #000a;
  margin-top: 30px;
}
.profession a{
  text-decoration: none;
  color:white;
}
.profession a:hover{
  text-decoration: none;
  color:white;
}
.profession-heading{
font-size: 25px;
padding:8px;
}
.profession-icon{
font-size: 50px;
padding:8px;
}
.profession-description{
font-size: 15px;
padding:8px;
}
.heading{
  font-size:30px;
  color:white;
  background: rgba(70, 63, 69,.4);
}
.sub-heading{
  font-size: 25px;
  margin-left: 25px;
  margin-right: 25px;
  color:white;
  background: rgba(70, 63, 69,.8);
  border:3px solid #2B2E3C;
  border-radius: 12px;
  padding:8px;
}
.projects{
  background: #000;
}
.project-tiles{
  font-size:15px;
  border-radius: 10px;
  background: rgba(0,0,0,.8);
  height: 300px;
  border: 1px white solid;
}
.project-title{
font-size: 30px;
color:white;
padding:8px;
}
.project-image{
  padding:8px;
}
.project-description{
  color:white;
  padding:8px;
}
.col-xs-4{
  padding: 8px;
}

@media screen and (max-width:600px){
  body{

  }
  .main{
    background: rgba(0,0,0,.8);
  }
  .intro{
    margin:10px 5px 0px;
    background: #000f;
    padding: 15px;
  }
  .profile-pic{
    margin-top:0px;
    height:100px;
    width:100px;
  }
  .img-rounded{
    border:2px solid #2B2E3C;
    box-shadow: 3px 3px 4px 4px #2B2E3C88;
  }
.name{
  font-size: 1.5em;
  font-family:'Times new Roman';
}
.social{
  margin-top: 10px;
  padding: 30px;
}
.social ul li{
  list-style-type: none;
  display: inline-block;
}
.social li .fa{
  color:white;
  font-size:15px;
  margin: 8px;
  padding:8px;
  border:2px solid #fff;
  border-radius: 30px;
}
.profession{
  color:white;
  font-size: 15px;
  padding: 6px;
  margin: 6px;
  border: 1px white solid;
  display: inline-block;
  border-radius: 10px;
  background: #000;
  margin-top: 15px;
}
.project-tiles{
  height: auto;
}
.col-xs-4{
  width:100%;
  padding:8px;
}

}
